<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcategory.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @subcategory.slug %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.category_id %>
</p>
